<hr>
<form class="form" action="">
    <input type="text" placeholder="Insira o seu login...">
    <input type="password" placeholder="Insira sua senha...">
    <input type="button" value="Entrar">
</form>
<hr>